*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif; /*todo a pag usa a mesma font*/
}

.all{
    min-width:100vw;
    min-height:100vh;
    padding:4rem 2rem;
}

.every-cards{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.card{
    border: 1px solid black;
    padding:1rem;
    border-radius: 10px;
    position: relative;
}

div.card:nth-child(1){
    background-color:hsl(263, 55%, 52%);
    z-index: -1;
}

div.identifier{
    /* background-color:red; */
    width: 100%;
    display: flex;
    align-items: center;
}

div.card>img.quotation{
    position:absolute;
    right:1rem;
    top: 0;
    z-index: -2;
}

div.identifier>.image{
    transform:scale(.6);
}

div.identifier>.image>img{    
    border-radius: 100%;
    border: solid 4px hsla(0, 0%, 81%, 0.39)
}


div.info-person>p.name, .graduate{
    color:hsl(210, 46%, 95%);
}

div.info-person>.graduate{
    opacity: 50%;
    font-size:13px ;
}