*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif; /*todo a pag usa a mesma font*/
}

.all{
    min-width:100vw;
    min-height:100vh;
    padding:4rem 2rem;
    background-color:hsl(210, 46%, 95%);
}

.every-cards{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

div.card{
    /* border: 1px solid black; */
    padding:1rem;
    border-radius: 10px;
    padding-bottom: 2rem;
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(128, 128, 128, 0.356);
}

div.card:nth-child(1){
    background-color:hsla(263, 55%, 52%, 0.87);
    z-index: 1;
}

div.identifier{
    /* background-color:red; */
    width: 100%;
    display: flex;
    align-items: center;
}

div.card>img.quotation{
    position:absolute;
    right:1rem;
    top: 0;
    z-index: -2;
}

div.identifier>.image{
    transform:scale(.6);
}

div.identifier>.image>img{    
    border-radius: 100%;
    border: solid 4px hsla(0, 0%, 81%, 0.39)
}

div.info-person>p.name, .graduate{
    color:hsl(210, 46%, 95%);
}

div.info-person>.graduate{
    opacity: 50%;
    font-size:13px ;
}
div.text{
    padding-left: 1rem;
}

div.title-testimonial{
    margin-bottom:1rem
}
div.title-testimonial>p{
    color: white;
    font-size:1.6rem;
}

.testimonial>p{
    color:hsl(210, 46%, 95%);
    opacity:30%;
    font-size: 14px;
    line-height:1.2;
    word-spacing: 1px;
    /* padding-right: 2rem; */
}

.Jonathan-card{
    background-color:hsl(217, 19%, 35%);
}

.Jonathan-card .text .testimonial p{
   opacity: 60%; 
}

div.Jeanette-card{
    background-color: white;
}

div.Jeanette-card .identifier .info-person p, .Jeanette-card .text>div>p {
    color:hsl(217, 19%, 35%);
}
.Jeanette-card .text .testimonial p{
    opacity: 60%; 
 }

 .Patrick-card{
     background-color:hsl(219, 29%, 14%);
 }

 div.Kira-card{
    background-color: white;
}

div.Kira-card .identifier .info-person p, .Kira-card .text>div>p {
    color:hsl(217, 19%, 35%);
}
.Kira-card .text .testimonial p{
    opacity: 60%; 
 }